@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

$font-family: 'Rubik', sans-serif;
$subtitle-font: 'Montserrat', sans-serif;
