.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	max-width: 100%;
	height: 56px;
}
.footer__text {
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	font-family: $subtitle-font;
}
.footer__text--span {
	display: inline-block;
	font-family: $subtitle-font;
	font-weight: 400;
	margin: 12px;
}
