$nav-back: hsl(201, 20%, 23%);
.header {
	background-image: url('../assets/blogbackground.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: none;
	max-width: 100%;
	height: 32rem;

	align-items: center;
}
.nav {
	display: flex;
	flex-wrap: wrap;
	background-color: $nav-back;
	max-width: 100%;
}
.nav__list {
	background-color: $nav-back;
	margin: 0;
	padding: 0;
	width: 100%;
}
.title__div {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-align: left;
	font-size: 42px;
}
.title {
	align-self: center;
	justify-content: flex-start;
	align-items: center;
	font-size: 3.25rem;
	font-family: $font-family;
	font-weight: 900;
	margin-top: 72px;
}

.subtitle {
	font-size: 2rem;
	text-align: left;
	font-family: $subtitle-font;
	font-weight: 600;
}
